---
import LayoutBlog from "../../layouts/LayoutBlog.astro";
const posts = await Astro.glob('../../pages/blog/posts/*.md');
---

<LayoutBlog title="Nuestro Blog" description="PLASTIGESA E.I.R.L. es una empresa dedicada a la fabricación de empaques flexibles y embalajes en alta y baja densidad. Empresa familiar, 100% arequipeña, lider en fabricación de bolsas plásticas, ofrecemos los mejores productos plasticos para desechos, Plastigesa es la empresa lider en fabricación de bolsas, cintas de amarre, Stretch Film, para uso industrial o agricola, en el hogar, oficina, clinicas y hospitales.">
    <section class="bg-white dark:bg-gray-900">
        <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16">
            <h2 class="bottom-element mb-8 text-3xl font-extrabold text-center tracking-tight leading-none text-gray-900 md:text-4xl lg:text-5xl dark:text-white">Nuestro blog</h2>
        <div class="grid grid-cols-1 lg:grid-cols-3">
            {
                posts.map( post => (
                <article class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                    <a href={post.url}>
                        <img class="rounded-t-lg h-80 w-full object-cover object-top" src={post.frontmatter.image} alt={post.frontmatter.description} />
                    </a>
                    <div class="p-5">
                        <a href={post.url}>
                            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{post.frontmatter.title}</h5>
                        </a>
                        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{post.frontmatter.description}</p>
                        <a href={post.url} class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-primary rounded-lg hover:bg-secondary focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-green-300 dark:hover:bg-primary">
                            Leer más
                            <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                            </svg>
                        </a>
                    </div>
                </article>
                ))
            }



        </div>
        </div>
    </section>
</LayoutBlog>